<app-navbar></app-navbar>
<div class="container">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <h2>Contactanos</h2>
            <input type="text" class="field" placeholder="Nombre">
            <input type="text" class="field" placeholder="Email">
            <input type="text" class="field" placeholder="Telefono">
            <textarea placeholder="Mensaje" class="field"></textarea>
            <button class="btn">Enviar</button>
        </div>
    </div>
</div>